<ul class="list-inline text-center">
  <% ["Leore", "Thibault", "Claudia"].each do |member| %>
    <li>
      <%= image_tag "#{member}.png", width: "100px", class: "img-circle" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
